@charset "utf-8"; // Changing bulma styles or global ones

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$light-blue: #00d4ff;
$dark-blue: #090979;
$brown: #706031;
$blue: #37c7f2;
$beige-light: #D0D1CD;
$light: #fafcff;
$light-red: #FFCCCB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $light-blue;
$link: $dark-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5ffa;
$input-shadow: none;


// Global styles

html, body {
  height: 100%;

  font-size: 18px !important;
  overflow: hidden !important;

}
